body {
  background-color: #eaf4f4;
}

p {
  color: #476d5d;
}

a:hover {
  color: #209f8c;
}

nav {
  background-color: #6b9080;
  display: flex;
}

h1 {
  color: #f6fff8;
}

.title {
  flex: 2;
  display: flex;
  justify-content: right;
  align-items: center;
}

.links {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: inline;
  list-style-type: none;
}

li {
  float: left;
}

li a{
  display: block;
  color: #f6fff8;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
}

li a:hover{
  color: #e6beae;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 50vh;
  min-width: 50vw;
  object-fit: cover;
}