
body {
  background-color: rgb(248, 246, 237);
}

p {
  color: #476d5d;
}

a:hover {
  color: #209f8c;
}

nav {
  background-color: rgba(139, 69, 19, 0.753);
  display: flex;
}

h1 {
  color: sandybrown;
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 29px;
  font-style: normal;
  font-variation-settings:
    "ELSH" 0;
}

.title {
  flex: 2;
  display: flex;
  justify-content: right;
  align-items: center;
}

.links {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: inline;
  list-style-type: none;
}

li {
  float: left;
}

li a{
  font-family: "Abril Fatface", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  display: block;
  color: rgb(252, 180, 117);
  text-align: center;
  padding: 10px 5px;
}

li a:hover{
  color: pink;
  text-decoration: underline;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px double red;
}

img {
  max-height: 50vh;
  min-width: 50vw;
  object-fit: cover;
}