body {
  background-color: #d6d3c9;
}

h1 {
  color: #2f4458;
}

p {
  color: #7c8078;
}

a {
  color: #7c8078;
}

a:hover {
  color: #766575;
}

.container {
  display: flex;
  align-content: space-around;
}
